.mySlides {display:none}
.demo {cursor:pointer}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	font-size: 62.5%;
}
/*
article
*/
article {
	margin: 0 auto;
	width: 70%; 
}
h3{
    margin-top: 0.2%;
	text-align: center;
}

p{
	text-align: center-right;
}
section {
	height: 50%;
    width: 50%;
	margin: 0 auto;
}
/*
imagens
#img{
    margin-top: 2%;
    margin-bottom: 10px;
    width: 5%;
    margin-left: 10px;
    float: bottom;
}
*/

#sete img{
	height: 60%;
    width: 60%;
	float:left; 
}
#bruxa img{
	height: 30%;
    width: 30%;
	float:left; 
}
#aka img{
	height: 30%;
    width: 30%;
	float:left; 
}
#gato img {
	height: 30%;
    width: 30%;
	float:left;
}
#haze img {
	height: 50%;
    width: 50%;
	float:left;
}
#abyss img {
	height: 30%;
    width: 30%;
	float:left;
}
#dawn img {
	height: 50%;
    width: 50%;
	float:left;
}
#girls img {
	height: 30%;
    width: 30%;
	float:left;
}
#golem img {
	height: 50%;
    width: 50%;
	float:left;
}
#marie img {
	height: 30%;
    width: 30%;
	float:left;
}
#regis img {
	height: 30%;
    width: 30%;
	float:left;
}
#magico img {
	height: 34%;
    width: 34%;
	float:left;
}
#pandora img {
	height: 40%;
    width: 45%;
	float:left;
}
#beat img {
	height: 60%;
    width: 60%;
	float:left;
}
#star img {
	height: 33%;
    width: 33%;
	float:left;
}
#toppa img {
	height: 30%;
    width: 30%;
	float:left
}
#the img {
	height: 35%;
    width: 35%;
	float:left;
}
#new img {
	height: 35%;
    width: 35%;
	float:left;
}
#rave img {
	height: 50%;
    width: 50%;
	float:left;
}
#tsubasa img {
	height: 50%;
    width: 50%;
	float:left;
}
article img {
height: 100%;
width: 100%;
margin: 0 auto;
}

aside img {
height: 60%;
width: 60%;
float:center;
margin: 0 auto;
}

#op1 img {
height: 100%;
width: 100%;
margin: 0 auto;
}